services:
  {{ .ApplicationName }}:
    image: {{ .ImageName }}
    ports:
    - "{{ .TargetPort }}:{{ .TargetPort }}"
    {{- if .EnvironmentVariables }}
    environment:
      {{- range $key, $value := .EnvironmentVariables }}
      - {{ $key }}={{ $value }}
      {{- end }}
    {{- end }}
